@model int

@{
    ViewBag.Title = "Checkout Bitti";
}

<h2>Checkout Bitti</h2>

<p>Sipariş Verdiğiniz için Teşekkürler. Sipariş Numaranız: @Model</p>

<p>Daha Fazlası için
    @Html.ActionLink("Ürünlerimix", "Index", "AnaSayfa")
</p>
